:root {
    --white: #fff;
    --black: #000;
    --gray: #4b4b4b;
    --light-gray: #929292;
    --warning: #db3232;
    --primary: #ff2800;
    --secondary: #fff200;
    --light-yellow-background: #f3efd9;
    --red-background: #fff1f1;
    margin: 0;
    font-size: 16px;
    background-color: var(--light-yellow-background);
}

.link-decorator {
    color: var(--black);
    text-decoration: none;
}